body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

button {
  cursor: pointer;
}


.generated-image {
  width: 400px;  /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
